.admin-page{
    background-color: #bac4cc;
    min-height:100v;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:#fff;
    position:relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

.admin-header{
    position:absolute;
    top:1.5rem;
    left:1.5rem;
    font-size:1.25rem;
    font-weight:500;
    color:rgb(57, 65, 62);
}

.admin-card{
    background:#fff;
    color:#211f37;
    border-radius:12px;
    box-shadow: 0 4px 12px #302d2d;
    padding:2.5rem;
    width:20rem;
    text-align:center;
}

.admin-title{
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:1.5rem;
}

.admin-buttons{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.admin-btn{
    background-color:#000;
    color:#fff;
    padding: 0.5rem 0;
    border: none;
    border-radius: 6px;
    font-size:1rem;
    cursor:pointer;
    transition: background-color 0.2s ease;
}

.admin-btn:hover{
    background-color:#1f1d1f;
}